/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

/* Doodle Stage */
#stage {
  background: #ccc;
  height: 350px;
  width: 650px;
}

#heart.png {
  fill: red;
}
