/* My Awesome Styles */

/* Diagnostic Styling 
  * Change Background Color
  * Outline Elements
*/

* {
    outline: 1px dotted black;
}

/* Doodle Stage */
#stage {
  background: #ccc;
  height: 350px;
  width: 650px;
}

#heart {
  fill: red;
}

#heart2 {
  fill: rgb(255, 0, 221);
}